{% extends 'base.html' %}
            {% block nav-oraculolist %}
              <li class="active">
                <a class="btn btn-primary" href="{% url 'oraculolist' %}"><span class="glyphicon glyphicon-bullhorn"><h4>Oráculo</h4></a>
              </li>
              {% endblock %}

{% block content %}
        
    
      <div class="container-fluid"> 
        <div class="row">

          <div class="nav navbar-inverse col-md-12">
            <ul class="nav nav-tabs">

              <li class="top">
                  <a href="/oraculolist/">
                    <h4>5 últimas preguntas</h4>
                  </a>
              </li>
              <li class="top">
                <a href="/preguntas/">
                  <h4>Ver todas las preguntas</h4>
                </a>
              </li>
              <li class="top">
                <a href="/preguntar/">
                  <h4>Hacer tu pregunta</h4>
                </a>
              </li>
              <li class="top active">
                <a href="#">
                  <h4>Respuestas</h4>
                </a>
              </li>

             </ul>
          </div>

        </div>
      </div>
        
      <br></br> 

      <div class="container-fluid">
        <div class="row">

          <div class="col-md-8">
            <div class="panel panel-info">

              <div class="panel-heading">
                
                  <p class="text">
                    <span><b>{{ question.user.username }}</b>&nbsp;&nbsp;</span>
                    <img src="{{ question.user.avatar }}" class="foto-perfil">
                    pregunta:
                  </p>
                  <h4>{{ question.title }}</h4> 
                </div>

              <div class="panel-body">
                <p>
                  {{ question.description }}
                </p>
              </div>

                <ul class="list-group">
                  <li class="list-group-item">
                    <form method="POST">{% csrf_token %}</br>
                      <textarea class="form-control" rows="4" id="respuesta" name="description">¿Sabes la respuesta?. Escríbela aquí: 
                     </textarea> 
                      <h5>
                        <input type="submit" class="btn btn-warning" id="btn-respuesta" value="Responder"></h5>     
                    </form>
                  </li>
                </ul>
              </div>

           
              

             
                 <li class="list-group-item">
                  <div class="media-list">
                    <h3 class="text-success">Respuestas: </h3>
                  
                  {% for answer in answers %}
                  <div class="media-body">
                  <ul class="media-list">
                    <li class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object foto-perfil" src="{{ answer.user.avatar }}" >
                        <span><b>{{ answer.user.username }}</b></span>
                      </a>
                    </ul>
                  
                    <ul class="media-list list-group-item">
                    <li class="media">
                    <h5 class="media-heading">{{ answer.description }}</h5>
                     
                     </li> 
                   </ul>
                
                  </div> 
                  {% endfor %}   
                 
               
              
              
                </div>
                </li> 
           </div>
                    
                        <div class="col-md-4">
                                <div class="list-group">
                                  <a href="#" class="list-group-item active">
                                    Consejos para responder
                                  </a>
                                 
                                  <a href="/pregunta/{{ question.slug }}" class="list-group-item"><span class="glyphicon glyphicon-question-sign"> {{ question.title }} </a></span>
                                  
                                </div>
                                
                                
                        </div>
                </div>
        </div>
    </div>
     </div>
{% endblock %}